body{
    text-align:center;
    background-color: rgb(240, 87, 87);
    font-size: 25px;
  }  
  
  #album
  {
    height:450px;
    border-radius:30px;
  }
  button
  {
  background-color:#499dc7;
    border-radius: 50px;
    font-size: 25px;
  }